
.react-reveal{
    duration: 2000ms;

}

.photo-container{
    display: flex;
    float: right;
    height: 40em;
    padding-top: 5em;
    padding-right: 20em;
}

.photo{
    border-radius: 30px;
    border-style:solid;
    border-color:black;
    border-width: 5px;
}

.introduction{
    display: inline-block;
    float: left;
    margin: 15em 0em 30em 0em;
    padding-left: 20em;
}

.image-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
    /*text-align: center;*/
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    flex-wrap: wrap;
    border-left-style: solid;
    border-right-style: solid;
    border-color: blue;
    
}

.image{
    height: 20em;
    border-radius: 30px;
}
