
body{
    display: flex;
    background-color: #FCEEDD;
    color: #170029;
    height: 1000vh;
    justify-content: center;
}

.particles{
    position: absolute;
    z-index: -1;
}


.photo{
    flex-shrink: 2;
    width: 20rem;
    float: right;
    border-radius: 30px;
    border-style:solid;
    border-color:black;
    border-width: 5px;
    margin-top: 15rem;
    
}

.introduction-container{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.introduction{
    flex-shrink: 2;
    float: left;
    padding-right: 5%;
    padding-top: 15rem;
}

.image-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
    /*text-align: center;*/
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    flex-wrap: wrap;
}

.image{
    height: 20em;
    border-radius: 30px;
}
.image:hover{
    opacity: 0.5;
}

.about-container{
    
    padding-top: 65vh;
    font-size: 24px;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.about-title{
    margin-bottom: 6px;
}

.about-description{
    padding-top: 10px;
}


.illustrations-title{
    display: flex;
    left: 0;
    right: 0;
    padding-left: 45vw;
    padding-right: 25vw;
    padding-top: 65vh;
    text-align: left;
    font-size: large;
    font-size: 48px;
}


.clicked-image{
    position: fixed;
    z-index: 999;
    height: 80%;
    margin-top: 0%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.close-button{
    color: black;
    position: fixed;
    display: flex;
    border: none;
    background: none;
    right: 0;
    top: 0;
}
.close-button:hover{
    color: gray;
}