body{
  justify-content: center;
}

li {
    display: inline-block;
    
  }



.nav-menu-items{
}

.navbar{
    z-index: 9999;
    background-color: black;
    width: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.nav-text {
    color: white;
    margin: 0px 64px 0 64px;
  }

.nav-text a{
    text-decoration: none;
    color: #FCEEDD;
}



