li {
    display: inline-block;
    margin-right: 10px;
  }



.nav-menu-items{
    margin-left: 30%;
}

.navbar{
    z-index: 9999;
    background-color: black;
    width: 50%;
    margin-left: 25%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -20px;
}

.nav-text {
    justify-content: start;
    align-items: center;
    margin-left: -100px;
    padding: 0px 64px 0px 64px;
    color: white;
  }

.nav-text a{
    text-decoration: none;
    color: #FCEEDD;
}



